
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}

/* START SCREEN */

#start-screen {
    background-image: url('img/canvas1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

h1 {
    font-weight: 400;
    font-size: 4em;
    color: #000;
}

h2 {
    font-size: 2em;
    padding-top: 1em;
}

p {
    text-align: center;
    padding-top: .7em;
    font-weight: bold;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 800px;
    font-weight: 300;
    background-color: rgb(255, 228, 196, 0.5);
    border-radius: 20px;
    padding-right: 50px;
}

.controls {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

span {
    height: 50px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-button {
    font-size: 1.5em;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    position: relative;
    border: 0px; 
}

.start-cmd {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: absolute;
    color: 	#50433e;
    background-color: rgba(218, 208, 173, 0.5);
    border-radius: 15px;
}

.button-img {
  height: 170px;
  display: inline-flexbox;
  flex-direction: row;
  justify-content: right;
} 

.keyboard-img {
   position: relative;
   position: relative;
   display: inline-block;
   width: 200px; 
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
}

ul {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    gap: 2rem;
    list-style-position: inside;
    float: right;
    
}

li {
    list-style: '🧨 ' ;
    text-align: left;
    line-height: 1.5;
    padding: 0px 20px;
}


.footer {
    display: flex;
    align-items: flex-end;
    height: 190px;
    padding-top: 20px;
}

/* GAME SCREEN */

#game-screen{
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 164, 206);
    height: 100vh;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 2em;
}

.health-title {
    font-size: 2em;
}

.health-bar {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.health-img {
    height: 260px;
}


.score {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding-left: 200px;
}

.game-board {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 75px;
    width: 100vw;
}


/* GAME OVER */

#gameover-screen {
    background-image: url('img/canvas4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameover-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.end-instruction {
    color:hsl(104, 41%, 95%);
    text-align: center;
    padding-top: 90px;
    font-weight: normal;
    font-size: 2.5em;
}

.kaboom {
    color: orangered;
    font-weight: bold;
    font-size: 3.5em;
}

.final-score {
    color: silver;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding-top: 20px;
}

.high-score {
    color: gold;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding-top: 8px;
}

.restart-button {
    background-color: transparent;
    margin-top: 50px;
    border: 0px;
}


.message {
    color: hsl(104, 41%, 95%);
    font-size: 4em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 50% 20% / 10% 40%;
}
